html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

/* reser css /////////////////////////////////////////////////////////////////////////////*/

/* form {text-align:center;} */

._container {
    box-sizing: content-box;
    max-width: 380px;
    padding: 0 15px;
    margin: 0 auto;
}

body {
    background: #1e1f2f;
    font-family: 'Inter', sans-serif;
    height: 100%;
    color: #fff;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.page {
    flex: 1 1 auto;
}


/* header */
.header {
    padding: 10px 0px;
}
.header__container img {
    display: block;
    width: 59px;
    margin: 0 auto;
    
}
/* balance */

.balance {
padding: 10px 0px;
color: black;
}
.balance__obolochka {
    display: flex;
    /* padding: 0px; */
    /* margin: 0px; */
    max-width: 370px;
}



.balance__container {
    display: flex;
    background: linear-gradient(to top right,#81f8fd,#4be);
    max-width: 160px;
    width: 100%;
    border-radius: 10px;
    padding: 10px 10px;
    justify-content: space-around;
    align-items: center;
    margin:0px 5px 0px 0px;
}
._container {
}
.balance__img i{
    font-size: 21px;
}
.fa-brands {
}
.fa-bitcoin {
}
.balance__state {
}

.balance__btn {
    display: flex;
    background: linear-gradient(to top right,#81f8fd,#4be);
    max-width: 160px;
    width: 100%;
    border-radius: 10px;
    padding: 10px 10px;
    justify-content: space-around;
    align-items: center;
    margin: 0px 0px 0px 5px;
}
._container {
}
.balance__link {
    display: flex;
}


/* page */


/* page-games */
.page__games {
}
.games__container {
max-width: 350px;
display: flex;
flex-wrap: wrap;
background-color: #fff;
border-radius: 10px;
padding: 0px 10px 10px 10px;
}
._container {
}
.games__column {
    flex: 0 1 25%;
    padding: 10px 0px;
}
.games__item {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.games__item > *:not(:last-child) {
   margin-bottom: 8px;
}

.games__img {
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-image: linear-gradient(0deg,rgb(142,108,240) 0%,rgb(101,130,251) 100%);
        box-shadow: 0 7px 13px #7977f640;
}



.games__name {
    font-weight: 700;
font-size: 12px;
line-height: 15px;
}
.games__sub-name {
    font-weight: 700;
font-size: 11px;
line-height: 13px;
color: #ED8E1F;
}

/* page__game */

.page__game {
    padding: 0px 15px;
}
.game__container {
    height: 300px;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
._container {
}

/* page__players */

.page__players {
    padding: 10px 0px;
}
.players__container {
}
._container {
}
.players__header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
}
.col_play {
    font-size: 16px;
    font-weight: 300;
    color: #b4b1e0;;
}
.col__players {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}
.players__header__allcash {
    font-size: 22px;
    font-weight: 700;
    color:#fff;
}

/* page-players__body */

.players__body {
    padding-top: 20px ;
}
.players__column {
}
.players__item {
    padding-top: 10px ;
    padding-bottom: 10px;
    border-top:1px solid  #64648e;;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.player__img {
    border-radius: 50%;
    background: rgba(42,41,68,.75);
    /* background-color: #fff; */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 30px; */
    border: 2px solid #64648e;
}

.player__img img{
width: 36px;
height: 36px;
}

.player__name {
}
.player__cash {
color: #ecd86b;
}
.player__x {
}

.player__x:after {
    content: "▲";
    color: #2288c9;
    font-size: 14px;
}

.player__cash-win {
    color: #ecd86b;
}

/* page-bid */

.page__bid {
}
.bid {
    padding: 20px 15px;
}
.bid__container {
    display: flex;
    flex-direction: column;
background-color: #282849;
padding: 10px;
border-radius: 10px;
}

.bid__container > *:not(:last-child) {
    margin-bottom: 15px;
}

._container {
}
.bid__summa {
    display: flex;
    flex-direction: column;
}
.bid__summa__name {
    margin-bottom: 5px;
}
.bid__summa__container {
    display: flex;
}
.bid__summa__container div {
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 50px;
}
.minus__summa img {
    width: 20px;
}
.minus__summa {
    border-radius: 5px 0px 0px 5px;
    background-color: #d4d1e1;
    width: 50px;
}
.bid__summa__input {
    /* height: 50px; */
    flex: 0 1 80%;
    text-align: center;
    border: 1px solid white;
}
.plus__summa img{
    width: 20px;
}
.plus__summa {
    border-radius: 0px 5px 5px 0px;
    background-color: #d4d1e1;
    width: 50px;
}
.bid__auto-x {
    display: flex;
    flex-direction: column;
}
.bid__auto-x__name {
    margin-bottom: 5px;
}
.bid__auto-x__container {
    display: flex;
}
.bid__auto-x__container div {
    cursor: pointer;
    width: 50px;
    display: flex;
    justify-content: center;
    height: 50px;
}
.minus__auto-x img{
    width: 20px;
}
.minus__auto-x {
    border-radius: 5px 0px 0px 5px;
    background-color: #d4d1e1;;
}
.bid__auto-x__input {
    flex: 0 1 80%;
    text-align: center;
    border: 1px solid white;
}
.plus__auto-x img{
    width: 20px;
}
.plus__auto-x {
    border-radius: 0px 5px 5px 0px;
    background-color: #d4d1e1;;
    width: 50px;
}
.bid__btn__default {
    display: flex;
    justify-content: space-around;
}
.bid__btn__default div {
    color: #fff;
    background: #333381;
    width: 24%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    border-bottom: 1px solid #030327;
}





.bid__btn__min {
    border-radius: 5px 0px 0px 5px;
}
.bid__btn__x2 {
}
.bid__btn__1n2 {
}
.bid__btn__all {
    border-radius: 0px 5px 5px 0px;
}
.bid__button__start {
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    background: #009f62;
    touch-action: none;
    border: none;
    border-top: 2px solid #46d69f;
    border-bottom: 1px solid #29956c;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
}



/* Footer */

.footer {
    padding: 45px 0px 10px 0px;
}
.footer__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.footer__container > *:not(:last-child) {
    margin-bottom: 20px;
}

.footer__links {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    
}
.footer__links > *:not(:last-child) {
    margin-right: 15px;
}
.footer__link {
    color: #fff;
}
.footer__text {
    font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #B1B7CD;
}